.chart{
    margin: 20px;
    padding: 5px;
    -webkit-box-shadow : 0px 0px 15px -10px black;
    box-shadow: 0px 0px 15px -10px black;
    
}

.chartTitle{
    margin-bottom: 20px;
    text-align: center;
    font-weight: lighter;
  
}

