.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 10%;
    
}

.featuredItem{
    
    flex: 0.8;
    margin: 0px 20px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow : 0px 0px 15px -10px black;
    box-shadow: 0px 0px 15px -10px black;
    align-items: center;
    color: white;

}

.featuredTitle{
    font-size: 20px;
}

.featuredMoneyContainer{
    margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate{
    display: flex;
    align-items:flex-end;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: rgb(3, 243, 3);
}

.featuredSub{
    font-size: 15px;
    
}

.featuredobjectName{
    font-size: 15px;
   padding-top: 10px;
    margin-left: 10px;
}

.featuredItem.Articles{
    background-image: linear-gradient(to right, #56CCF2 , #2F80ED);
}

.featuredItem.Documents{
    background-image: linear-gradient(to right, #F2C94C , #F2994A);
}

.featuredItem.Lessons{
    background-image: linear-gradient(to right, #feb47b , #ff7e5f);
}