.topbar{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Left Side */

.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}

/* Right Side */

.topright{
    display: flex;
    align-items: center;
}

.topbarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topIconbadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}




 .menu{
    position: absolute;
    top: 55px;
    right: 15px;
    padding: 10px 8px;
    background :white;
    width: 150px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow :  10px 10px 15px -10px black;
    box-shadow: 0px 0px 15px -10px black;
   
}

 .menu.active{
    
    visibility: visible;
    opacity: 1;
}



 .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;

}


 .menu h3 span{
    font-size: 14px;
    color : #cecece;
    font-weight:400;

}

 .menu ul li{
list-style: none;
padding: 5px 0;
border-top: 1px solid rgba(19, 13, 13, 0.05);
display:flex;
align-items: center;
}

.exitAppClass{
max-width: 20px;
margin-right: 10px;
opacity: 0.5;
transition:0.5s
}

.exitAppClass::hover{
    opacity: 1
}

 .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

 .menu ul li::hover a{
    color:red;
}