.widgetLg{
    flex:2;
    -webkit-box-shadow : 0px 0px 15px -10px #000000;
    box-shadow: 0px 0px 15px -10px black;
    padding: 20px;
}

.widgetLgTitle{
    font-size: 22px;
    font-weight: 600;
}

.widgetLgImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.widgetLgButton{
   padding: 5px 7px;
   border: none; 
   border-radius: 15px;
}

.widgetLgButton.Approved{
    background-color:#e5faf2 ;
    color: #3bb077;
}

.widgetLgButton.Declined{
    background-color:#fff0f1 ;
    color: #d95087;
}

.widgetLgButton.Pending{
    background-color:#ebf1fe ;
    color: #2a7ade;
}

.widgetLgTable{
    width: 100%;
    border-spacing: 20px;
}

.widgetLgTh{
    text-align: left;
}

.widgetLgUser{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.widgetLgDate, widgetLgArticle{
    font-weight: 300;
}

.widgetLgTr{
   
}