body{
    background-color: white;
}

.Login-btn {
    color: #fff;
    background-color: #813AFE !important;
    border-color: #813AFE !important;
}

.container{
    
    margin-top:20%;
    
}

.form-block{
    padding-top: 5%;
   
}


  hr.solid {
    border-top: 3px solid #bbb;
  }