.containerSidebar{
    display: flex; 
 }

.userList{
flex: 6;
}

.userListUser{
    display: flex;
    align-items: center;
}

.userListImg{
    width: 32px;
    height: 32px;
border-radius: 50%;
object-fit: cover;
margin-right: 10px;
}

.userListBtnDelete{
    border: none;
    border-radius: 20px;
    padding : 5px 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}