.containerSidebar{
   display: flex; 
}

.others{
   flex: 6;
   margin-top: 10px;
   
}
.ChartsContainer{
padding-top: 20px;
width: 100%;
padding-left: 5%;
padding-right: 5%;
}

.homeWidgets{
   display: flex;
   margin: 20px;
}