


.Article {
    margin: 10px;
   padding-right: 10%;
   padding-left: 10%;
   letter-spacing: 0.015in;
   word-spacing: 0.06em;
   line-height:2em;
   text-align: justify;
  text-justify: inter-character;
  }
  
  .ImageContainer {
    width: 100%;
    position: relative;
    text-align: center;
  }
  
  .Image {
    opacity: 0.7;
    border-radius: 3px;
    /* object-fit: none; */
    max-height: 600px;
    width: 100%;
  }
  
  .Title {
    width: 300px;
    height: auto;
    /* margin: 0 30%; */
   
    position: relative;
    font-weight: lighter;
    text-shadow: -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121,
      1px 1px 0 #212121;
      color:black;
      letter-spacing: 1.5px;
     
    
  }
  
  .ArticleInfomation {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
  
  .Date {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
    font-weight: lighter;
    float: left;
  }
  
  .ArticleMain {
    padding: 40px;
    margin-left: 0;
    width: 100%;
    text-align: left;
  }
  

  .ShareBtn{
    margin-top:10px;
    margin-right:5px
  }