body{
    background-color: white;
}

.icon-img{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}

.Login-btn {
    color: #fff;
    background-color: #813AFE !important;
    border-color: #813AFE !important;
}

.container{
    margin-top: 8%;
    
}

.form-block{
    padding-top: 5%;
   
}

.facebook-btn {
    background-color: #3c589c !important;
   
  }

  .google-btn {
    background-color: #df4b3b !important;
    margin-right: 5px;
  }

  .social-btn {
    font-weight: 100;
    color: white;
    font-size: 0.9rem;
    background-color: white;
  }

  .fab{
      color: white;
  }
  hr.solid {
    border-top: 3px solid #bbb;
  }