.ArticleCard {
    width: 325px;
    display: inline-block !important ;
    margin: 15px;
  }
  
  .CardImage {
    max-height: 180px;
  }
  
  .CardBody {
    padding: 10px 15px;
    display : flex;
    align-items: center;
    align-content: center;
  }
  
  .CardTitle {
    font-size: 16px;
    height: 45px;
    text-overflow: ellipsis;
   padding : 10% 0;
  }
  
  .CardSubtitle {
    font-size: 12px;
    color: brown;
  }
  
  .ArticleLable {
    padding: 5px 10px;
    font-size: 14px;
    color: black;
  }
  
  .createDate , .Badge {
    color: white;
    background-color: lightseagreen;
    border-radius: 15px;
  }
  


