.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;
    
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 15px;
    color: rgb(197, 194, 194);
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    
}

.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(228, 228, 250);
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 24px ;
}

.HypText{
    text-decoration: none;
    color: black;
}