

.containerSidebar{
    display: flex; 
 }
 
 .others{
  
    flex: 5;
    margin-top: 10px;
    
 }

 .otherone{
     flex: 1;
     margin-top: 10px;
     position: relative;
 }

 .buttonsSide{
     position: absolute;
     bottom: 0;
     right: 0;
     margin-right: 18px;
     margin-bottom: 18px;
 }
#addVideoBtn{
    color: white;
    background-color: crimson;
    

}